body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
      /* font-family: Avenir, Helvetica, Arial, sans-serif; */
}

.app {
    text-align: center;
    color: #4d4d4d;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100vh;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 2px 3px 0px lightgrey;
    height: 50px;
}

h1 {
    margin: 0 0 5px 0;
}

.remove-habit {
    position: absolute;
    right: 0;
    margin-right: 10px;
    text-decoration: underline;
    cursor: pointer;
    font-size: 12px;
}

.habits-container {
    display: flex;
    padding: 10px;
    /* margin-top: 20px; */
    overflow: auto;
    padding-top: 50px;
}

.habitlog {
    margin: 10px;
    font-weight: bold;
    font-size: 30px;
    display: inline-block;
}

button, a {
    cursor: pointer;
}

button:focus {
    outline: none;
}
